// Colors
$color-primary: #002a31;
$color-secondary: #05a688;
$color-background: #002a31;
$color-footer: #0b2041;
$color-white: #ffffff;
$color-black: #000;
$color-shadow: rgba(0, 0, 0, 0.1);
$color-link: #05a688;

// Fonts

$font-primary: "Poppins", sans-serif;
$font-secondary: "Lato", sans-serif;
