// Colors
$color-primary: #383838;
$color-secondary: #b47d01;
$color-background: #f9f9f9;
$color-footer: #000000;
$color-white: #ffffff;
$color-black: #000000;
$color-shadow: rgba(0, 0, 0, 0.1);
$color-link: #b47d01;

// Fonts

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Montserrat", sans-serif;
