.Col1 {
  margin: 0;
  padding: 0;
  background-color: $color-secondary;
}
.Col2 {
  margin: 0;
  padding: 0;
  background-color: $color-black;
  color: $color-white;
}
.bestilling_h2 {
  color: $color-white;
}
.col_content {
  padding: 40px;
}
.col {
  padding: 0;
}
