.contact_h2 {
  margin: 40px;
}
.team-container {
  margin: 70px auto;
  text-align: center;
  z-index: 100;
}

.profile_pic {
  width: 200px;
  height: 230px;
  border: 2px solid $color-white;
}

.title {
  color: $color-secondary;
  margin: 7px 0px 2px 0px;
}
.global-class-name {
  margin: 0px 5px;
}
.team-col {
  text-align: center;
  margin-bottom: 30px;
}
