.heading_container {
  position: relative;
  top: 0;
  text-align: center;
  margin: 0 auto;
}
h1 {
  font-family: $font-primary;
  font-size: 36px;
  text-transform: uppercase;
  color: $color-black;
  font-weight: 700;
  margin: 40px;
}
h2 {
  font-family: $font-primary;
  font-size: 28px;
  text-transform: uppercase;
  color: $color-black;
  font-weight: 700;
}
h3 {
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 600;
  color: $color-black;
  margin-top: 20px;
}
h4 {
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 600;
  color: $color-white;
  text-transform: uppercase;
}
h5 {
  font-family: $font-primary;
  font-size: 21px;
  font-weight: 600;
  color: $color-white;
  text-transform: uppercase;
}
h6 {
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-white;
}

a {
  color: $color-link;
  text-decoration: none;
  font-family: $font-primary;
  font-size: 14px;
}
p {
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 400;
}
li {
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 400;
}
footer,
p {
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  list-style-type: none;
}
